<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pokedex</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='pokedex.css') }}">
      <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  {% if error %}
      <p> {{ error }} </p>
  {% endif %}

  {% if pokemon %}

      <p>ID:          {{ pokemon.id }}</p>
      <p class="capitalize">Name:        {{ pokemon.nome }}</p>
      <p class="capitalize">Types:       {{ pokemon.tipos | join(', ') }}</p>
      <p>Description: {{ pokemon.descricao }}</p>
      <p>Height:      {{ pokemon.altura }} m</p>
      <p>Weight:      {{ pokemon.peso }} kg</p>

      <div class="sprite">
            <p>Sprite: </p>
             <img src="{{ pokemon.sprite }}" alt="{{ pokemon.nome }}">
      </div>
      
      {% if pokemon.id > 1 %}
  <a href="{{ url_for('pokemon_anterior', id=pokemon.id) }}">
    <button>Back</button>
  </a>
{% else %}
  <button disabled style="opacity: 0.5; cursor: not-allowed;">Back</button>
{% endif %}

{% if pokemon.id < 1025 %}
  <a href="{{ url_for('proximo_pokemon', id=pokemon.id) }}">
    <button>Next</button>
  </a>
{% else %}
  <button disabled style="opacity: 0.5; cursor: not-allowed;">Next</button>
{% endif %}

<form action="/buscar_pokemon" method="get">
  <input type="text" name="poke" placeholder="Name or pokemon ID" required>
  <button type="submit">Search</button>
</form>

      
      
{% endif %}
</body>
</html>